<div class="content" style="padding-right: 0; padding-bottom: 0;">
    <div ng-init="activeTab = '/'"
         ng-include="'/webapps/pinyto/backoffice/partials/backoffice_tabs.html'"></div>
    <div class="backofficePane">
        <div ng-show="statistics">
            <p>Currently you have {{ statistics.current_storage }} bytes of data stored in the cloud.</p>
            <p>With the data you had stored before this makes {{ statistics.calculated_storage_budget }} bytes*s.</p>
            <p>You consumed {{ statistics.time_budget }}s of computation time.</p>
            <p>You have <a ng-href="/backoffice/assemblies/mine/">{{ statistics.assembly_count }} assemblies</a>.</p>
            <p>You have
                <a ng-href="/backoffice/assemblies/">{{ statistics.installed_assemblies_count }}
                assemblies installed</a> while there are
                {{ statistics.all_assemblies_count }}
                available.</p>
            Last change {{ statistics.last_calculation }}
        </div>
    </div>
</div>