<div class="content" lang="de" ng-show="lang == 'de'">
    <h1>Tutorials und Anleitungen</h1>
    <h2>Pinyto benutzen</h2>
    <ul>
        <li>
            <h5>Registrieren, Anmelden und Assemblies installieren</h5>
            <p>
                Der Einstieg in Pinyto ist leicht. Wer von Anfang an wissen will, was alle Begriffe bedeuten, bekommt
                hier eine genaue Erklärung für den erfolgreichen Start.
            </p>
        </li>
    </ul>
    <h2>Pinyto entwickeln</h2>
    <ul>
        <li>
            <h5>Dein erstes eigenes Assembly</h5>
            <p>
                Wenn du kein Assembly findest, das deine Daten so verarbeitet, wie du es brauchst, wird es Zeit das
                erste eigene Assembly zu schreiben. Du brauchst dafür nicht mehr als das
                <a ng-href="/backoffice/">Backoffice</a>.
            </p>
        </li>
    </ul>
</div>
<div class="content" lang="en" ng-show="lang == 'en'">
    <h1>Tutorials</h1>
    <h2>Using Pinyto</h2>
    <ul>
        <li>
            <h5>Register, Authenticate and Install Assemblies</h5>
            <p>
                Using Pinyto is easy. This explanation will guide your first steps and explain all the backgrounds of
                what is happening during your successful start into Pinyto.
            </p>
        </li>
    </ul>
    <h2>Developing Pinyto</h2>
    <ul>
        <li>
            <h5>Writing your first Assembly</h5>
            <p>
                If you do not find an assembly which processes your data as you need it it is time to write your own
                Assembly. This is not very hard and you need nothing but the <a ng-href="/backoffice/">backoffice</a>
                for it.
            </p>
        </li>
    </ul>
</div>