<div class="content" lang="de" ng-show="lang == 'de'">
    <h1>Hardware</h1>
    <p>
        Es gibt Pläne einen mini-Server für daheim mit vorinstalliertem Pinyto zu entwickeln. Der Server wäre ein
        kleiner sehr stromsparender Rechner, gerade leistungsfähig genug, um Pinyto, eine eigene Webseite,
        <a href="https://www.seafile-server.de/">Seafile</a> und möglicherweise einen Mailserver zu betreiben.
    </p>
    <p>
        Da wir aber noch kein fertiges Referenzdesign für einen solchen Server haben, ist momentan noch Geduld
        angesagt. Wer nicht warten möchte, sollte Pinyto auf einem gemieteten Server installieren. Wie das geht,
        steht <a ng-href="/development/">hier</a>.
    </p>
</div>
<div class="content" lang="en" ng-show="lang == 'en'">
    <h1>Hardware</h1>
    <p>
        There are plans to create a pre-installed mini server with Pinyto for your home. It would be a small machine
        with low power consumption capable of hosting Pinyto, a private website,
        <a href="http://seafile.com/en/home/">Seafile</a> and maybe your own e-mail server.
    </p>
    <p>
        Since our reference design is not finished yet you have to be patient. If you want to use Pinyto and you do
        not want to wait then the best idea is to rent a server somewhere and install Pinyto there. Read how this is
        done <a ng-href="/development/">here</a>.
    </p>
</div>