<div class="content" lang="de" ng-show="lang == 'de'">
    <h1>Impressum</h1>
    <h4>Anbieter</h4>
    <p>
        Johannes Merkert<br />
        〒155-0033 Tokyo-to Setagaya-ku<br />
        Daita 4-24-11
    </p>
    <h4>Kontakt</h4>
    <p><a href="mailto:jonny@pinyto.de">jonny@pinyto.de</a></p>
</div>
<div class="content" lang="en" ng-show="lang == 'en'">
    <h1>Contact</h1>
    <p>
        Johannes Merkert<br />
        〒155-0033 Tokyo-to Setagaya-ku<br />
        Daita 4-24-11
    </p>
    <p><a href="mailto:jonny@pinyto.de">jonny@pinyto.de</a></p>
</div>