<div class="content">
    <h1>Pinyto</h1>
    <p>
        Du hast Kontakte bei Google, Konversationen bei Facebook und Dokumente in deiner Dropbox und obwohl all
        diese Unternehmen mit deinen Daten Geld verdienen funktioniert nichts reibungslos zusammen?
    </p>

    <p>
        Stattdessen hantierst du mit USB-Kabeln, synchronisierst parallel über eine Cloud der du nicht vertraust
        und tippst die Details des neuestens Meetings ab, weil das immer noch die schnellste Methode ist?
    </p>

    <p>
        Pinyto könnte all diese Probleme für dich lösen, weil bei Pinyto nicht ein Geschäftsmodell im Vordergrund
        steht, sondern eine Idee. Wenn man an verschiedenen Orten mit verschiedenen Geräten die selben privaten
        Daten verarbeiten will, braucht man seine private Cloud. Und weil die Daten mit denen wir täglich arbeiten
        viel über uns aussagen muss diese Cloud so gebaut sein, dass wir jederzeit volle Kontrolle darüber haben
        wer welche Daten von uns bekommt. Gleichzeitig wollen wir aber smarte Devices, die unsere Daten auswerten
        und nutzen um unseren Alltag angenehmer und effizienter zu machen.
    </p>

    <p>
        Pinyto bietet uns eine gesicherte, private Datenbank, bei der wir genau bestimmen können welche Daten für
        welche Anwendung genutzt werden und wie die Daten verarbeitet werden, bevor sie zur Anwendung gelangen.
        Erreicht wird das über eine dokumentenbasierte Datenbank (MongoDB), die unsere Daten so speichert, wie wir
        sie strukturieren wollen und unsere persönliche Auswahl an Assemblies, die die Daten vorverarbeiten können,
        bevor sie zu unseren Apps auf unseren Devices kommen. Assemblies sind so etwas wie kleine serverseitige
        Apps, in die wir all die Ideen integreieren können, die unsere Devices smart wirken lassen. Und da die in
        Python programmierten Assemblies grundsätzlich OpenSource sind, können wir in jedem Fall sehen was mit
        unseren Daten passiert und wie viel unserer Privatsphäre unsere Cloud verlässt.
    </p>

    <p>
        Pinyto ist in erster Linie als Framework gedacht, um unsere Vision einer persönlichen Cloud möglich zu
        machen. Wir bieten aber auch einige Webapps und Applikationen für verschiedene Betriebssysteme an, um
        sowohl nützliche Anwendungen für die persönliche Cloud direkt verfügbar zu machen, als auch um zu zeigen,
        wie Pinyto genutzt werden kann, um deine Probleme zu lösen.
    </p>
</div>