language: python
python:
  - "3.3"
  - "3.4"
# installation of dependencies outside of the virtualenv
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libcap-dev
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: "pip install -r requirements.txt --use-mirrors"
# command to run tests, e.g. python setup.py test
script: python manage.py test