<div class="content" style="padding-right: 0; padding-bottom: 0;">
    <ul class="tabs">
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/" data-i18n="_backofficeDashboard_">
                Dashboard
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/" data-i18n="_backofficeAllAssemblies_">
                Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/mine/" data-i18n="_backofficeMyAssemblies_">
                My Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/data/" data-i18n="_backofficeMyData_">
                My Data
            </a>
            <span class="end"></span>
        </li>
        <li class="active">
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/account/settings/" data-i18n="_backofficeAccountSettings_">
                Account Settings
            </a>
            <span class="end"></span>
        </li>
    </ul>
    <div class="backofficePane">
        <h1 data-i18n="_backofficeAccountSettingsHeading_">Account Settings</h1>
        <p><span data-i18n="_backofficeAccountSettingsIntroductionBeforeName_">Your username is </span>
            {{ username }}
            <span data-i18n="_backofficeAccountSettingsIntroductionAfterName_">. Since your username is a part of your
                assemblies and other users may use your public assemblies with the name as part of the API you are not
                free to change your name. However you can change your password.</span>
        </p>
        <h2 data-i18n="_backofficeChangePasswordHeading_">Change Password</h2>
        <div style="display: table; margin: auto;">
            <div style="display: table-row;">
                <label for="password1" data-i18n="_changePassword1_" style="display: table-cell; text-align: right;"></label>
                <input type="password" name="password1" id="password1" ng-model="password" style="display: table-cell;"/>
            </div>
            <div style="display: table-row;">
                <label for="password2" data-i18n="_changePassword2_" style="display: table-cell; text-align: right;"></label>
                <input type="password" name="password2" id="password2" ng-model="passwordRepeat" style="display: table-cell;"/>
            </div>
        </div>
        <div>
            <button type="submit" ng-click="changePassword()" style="float: right;">
                {{ '_changePasswordButton_' | i18n }}
            </button>
        </div>
        <div ng-show="requestState" ng-switch="requestState" style="clear: both;">
            <span ng-switch-when="pending" data-i18n="_changingPassword_"></span>
            <span ng-switch-when="success" data-i18n="_changePasswordSuccess_"></span>
            <span ng-switch-when="failure" data-i18n="_changePasswordFailure_"></span>
            <span ng-switch-when="mismatch" data-i18n="_passwordMismatch_"></span>
            <span ng-switch-when="tooshort" data-i18n="_passwordTooShort_"></span>
        </div>
        <h2 data-i18n="_backofficeManageKeysHeading_">Manage Keys</h2>
        <p data-i18n="_backofficeManageKeysExplanation_"></p>
        <ul>
            <li ng-repeat="key in keys">
                {{ key.hash }}
            </li>
        </ul>
    </div>
</div>