<div class="content" style="padding-right: 0; padding-bottom: 0;">
    <ul class="tabs">
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/" data-i18n="_backofficeDashboard_">
                Dashboard
            </a>
            <span class="end"></span>
        </li>
        <li class="active">
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/" data-i18n="_backofficeAllAssemblies_">
                Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/mine/" data-i18n="_backofficeMyAssemblies_">
                My Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/data/" data-i18n="_backofficeMyData_">
                My Data
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/account/settings/" data-i18n="_backofficeAccountSettings_">
                Account Settings
            </a>
            <span class="end"></span>
        </li>
    </ul>
    <div class="backofficePane">
        <h1 data-i18n="_backofficeAllAssembliesHeading_">Assemblies</h1>
        <p data-i18n="_assemblyExplanation_"></p>
        <h2 data-i18n="_backofficeInstalledAssemblies_">Installed Assemblies</h2>
        <ul>
            <li ng-repeat="assembly in installedAssemblies"
                style="list-style-type: none; border: 1px solid rgb(215, 215, 215); padding: 1em; margin-bottom: 1em;">
                <h3>{{ assembly.author }}/{{ assembly.name }}</h3>
                <p>{{ assembly.description }}</p>
                <button class="red" data-i18n="_uninstall_" style="float: right;"></button>
                <div style="clear: both;"></div>
            </li>
        </ul>
        <h2 data-i18n="_backofficeAvailableAssemblies_">Available Assemblies</h2>
        <ul>
            <li ng-repeat="assembly in availableAssemblies"
                style="list-style-type: none; border: 1px solid rgb(215, 215, 215); padding: 1em; margin-bottom: 1em;">
                <h3>{{ assembly.author }}/{{ assembly.name }}</h3>
                <p>{{ assembly.description }}</p>
                <button class="green" data-i18n="_install_" style="float: right;"></button>
                <div style="clear: both;"></div>
            </li>
        </ul>
    </div>
</div>