<div class="content" style="padding-right: 0; padding-bottom: 0;">
    <ul class="tabs">
        <li class="active">
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/" data-i18n="_backofficeDashboard_">
                Dashboard
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/" data-i18n="_backofficeAllAssemblies_">
                Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/mine/" data-i18n="_backofficeMyAssemblies_">
                My Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/data/" data-i18n="_backofficeMyData_">
                My Data
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/account/settings/" data-i18n="_backofficeAccountSettings_">
                Account Settings
            </a>
            <span class="end"></span>
        </li>
    </ul>
    <div class="backofficePane">
        <h1 data-i18n="_backofficeHeading_">Backoffice</h1>
        <div style="text-align: justify; text-align-last: justify; width: 100%;">
            <div style="width: 0; height: 0; display: inline-block;"></div>
            <div style="display: inline-block;">Centered</div>
            <div style="width: 0; height: 0; display: inline-block;"></div>
            <div style="display: inline-block; width: 100%; height: 0;"></div>
        </div>
    </div>
</div>