<div class="content" lang="de" ng-show="lang == 'de'">
    <h1>Impressum</h1>
    <p>Noch kein Text.</p>
    <pre>
            .-""-.
           / .--. \
          / /    \ \
          | |    | |
          | |.-""-.|
         ///`.::::.`\
        ||| ::/  \:: ;
        ||; ::\__/:: ;
         \\\ '::::' /
          `=':-..-'`
    </pre>
</div>
<div class="content" lang="en" ng-show="lang == 'en'">
    <h1>Contact</h1>
    <p>No text yet.</p>
    <pre>
            .-""-.
           / .--. \
          / /    \ \
          | |    | |
          | |.-""-.|
         ///`.::::.`\
        ||| ::/  \:: ;
        ||; ::\__/:: ;
         \\\ '::::' /
          `=':-..-'`
    </pre>
</div>