<div class="content" style="padding-right: 0; padding-bottom: 0;">
    <ul class="tabs">
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/" data-i18n="_backofficeDashboard_">
                Dashboard
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/" data-i18n="_backofficeAllAssemblies_">
                Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li class="active">
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/assemblies/mine/" data-i18n="_backofficeMyAssemblies_">
                My Assemblies
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/data/" data-i18n="_backofficeMyData_">
                My Data
            </a>
            <span class="end"></span>
        </li>
        <li>
            <span class="start"></span>
            <a class="content" ng-href="/backoffice/account/settings/" data-i18n="_backofficeAccountSettings_">
                Account Settings
            </a>
            <span class="end"></span>
        </li>
    </ul>
    <div class="backofficePane">
        <h1 data-i18n="_backofficeMyAssembliesHeading_">My Assemblies</h1>
        <p><span data-i18n="_backofficeMyAssembliesExplanationBeforeLink_">
        </span><a ng-href="/backoffice/assemblies/" data-i18n="_backofficeMyAssembliesExplanationLink_">
        </a><span data-i18n="_backofficeMyAssembliesExplanationAfterLink_"></span></p>
        <div ng-repeat="assembly in assemblies">
            <h2>{{ assembly.name }}</h2>
            <p>
                <label for="Assembly{{ $index }}NameInput" data-i18n="_assemblyNameLabel_">Assembly Name:</label>
                <input id="Assembly{{ $index }}NameInput" type="text" ng-model="assembly.name" />
            </p>
            <h3 data-i18n="_assemblyDescriptionHeading_">Description</h3>
            <textarea ng-model="assembly.description"></textarea>
            <h3 data-i18n="_apiFunctionsHeading_">API Functions</h3>
            <ul>
                <li ng-repeat="function in assembly.api_functions">
                    /{{ getUserName() }}/{{ assembly.name }}/<input type="text" ng-model="function.name" /><br />
                    <textarea ng-model="function.code"></textarea>
                </li>
            </ul>
            <h3 data-i18n="_jobsHeading_">Jobs</h3>
            <ul>
                <li ng-repeat="job in assembly.jobs">
                    <input type="text" ng-model="job.name" /><br />
                    <textarea ng-model="job.code"></textarea>
                    Execute regularly:<input type="checkbox" ng-model="job.scheduleActivated" />
                    <div ng-show="job.scheduleActivated">
                        Execute every
                        <input type="number" ng-model="job.schedule" />
                        Minutes.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>