@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(../fonts/Merriweather-light.woff2) format('woff2'), url(../fonts/Merriweather-light.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(../fonts/Merriweather-sans.woff2) format('woff2'), url(../fonts/Merriweather-sans.woff) format('woff');
}

/* http://paletton.com/#uid=72O0C0kEerGnrNBr8IAWcinXSeR */
.rgba-primary-0 { color: rgba(  9,179,  0,1); }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 71,235, 63,1); }
.rgba-primary-2 { color: rgba( 44,227, 35,1); }
.rgba-primary-3 { color: rgba(  6,119,  0,1); }
.rgba-primary-4 { color: rgba(  5, 96,  0,1); }

.rgba-secondary-1-0 { color: rgba(  4,101,138,1); }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba( 64,174,215,1); }
.rgba-secondary-1-2 { color: rgba( 38,155,200,1); }
.rgba-secondary-1-3 { color: rgba(  1, 67, 92,1); }
.rgba-secondary-1-4 { color: rgba(  0, 54, 74,1); }

.rgba-secondary-2-0 { color: rgba(221,115,  0,1); }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,166, 68,1); }
.rgba-secondary-2-2 { color: rgba(255,151, 39,1); }
.rgba-secondary-2-3 { color: rgba(146, 76,  0,1); }
.rgba-secondary-2-4 { color: rgba(118, 62,  0,1); }

.rgba-complement-0 { color: rgba(219,  0,  6,1); }	/* Main Complement color */
.rgba-complement-1 { color: rgba(254, 68, 73,1); }
.rgba-complement-2 { color: rgba(254, 39, 44,1); }
.rgba-complement-3 { color: rgba(145,  0,  4,1); }
.rgba-complement-4 { color: rgba(117,  0,  3,1); }

body {
    font-family: 'Merriweather', Verdana, sans-serif;
    font-size: 12pt;
    line-height: 160%;
    background-color: rgb(121, 121, 121);
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather Sans', Verdana, sans-serif;
    margin: 1.5em 0 1em 0;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 210%;
}

h3 {
    font-size: 190%;
}

h4 {
    font-size: 160%;
}

h5 {
    font-size: 130%;
}

p {
    margin-bottom: 0.8em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

pre {
    font-family: monospace, sans-serif;
}

a {
    color: rgba(6, 119, 0, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(5, 96, 0, 1);
}

a:hover {
    color: rgba(9, 179, 0, 1);
}

table tr td, table tr th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th {
    font-family: 'Merriweather Sans', Verdana, sans-serif;
    font-weight: bold;
}

.content ul {
    padding-left: 1.6em;
}

.content li {
    list-style-type: disc;
}

.main-menu li, .tabs li {
    font-family: 'Merriweather Sans', Verdana, sans-serif;
}

input, textarea {
    border: 0 solid black;
    background-color: rgb(80, 80, 80);
    color: rgb(220, 220, 220);
    padding: 0.2em;
}

input.error {
    background-color: rgb(254, 68, 73);
}

button, input[type=submit] {
    border: 0 solid black;
    padding: 0.5em;
    background-color: rgb(5, 96, 0);
    color: rgb(220, 220, 220);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button.disabled {
    background-color: rgb(80, 80, 80);
}

button.green {
    background-color: rgb(5, 96, 0);
    color: rgb(220, 220, 220);
}

button.red {
    background-color: rgb(219, 0, 6);
    color: rgb(220, 220, 220);
}

.error-message {
    color: rgb(219, 0, 6);
    font-size: 10pt;
    font-family: 'Merriweather Sans', Verdana, sans-serif;
}